<div class="container" style="height: 500px">
	<% if !flash[:notice].blank? %>
		<div class="row" style="margin-top: 100px; margin-bottom: -100px">
			<div class="col-xs-8 col-xs-offset-2">
				<div class = "alert alert-success" style="border-radius: 3px; text-align: center">
					<%= flash[:notice] %>
				</div>
			</div>
		</div>
	<% end %>	



	<div id="change" class="row" style="margin-top: 200px; margin-bottom: 100px; z-index: 0">
		<div class="col-xs-12 col-lg-6 col-lg-offset-2" >
			<h5 style="color: grey"> NEW USER </h5>
			<hr style="margin-bottom: 30px">

				<%= bootstrap_form_for(@user) do |f| %>

				<%= f.select :title, options_for_select(User::TITLES), {}, class: "form-control" %>
				<%= f.text_field :first_name, label: 'First Name', :required => 'required'%> 
				<%= f.text_field :last_name, label: 'Last Name', :required => 'required' %> 
				<%= f.text_field :email, label: 'Email Address', :required => 'required' %> 
				<%= f.text_field :organisation, label: 'Organisation', :required => 'required'%> 
				<%= f.select :position, options_for_select(User::POSITIONS), {}, class: "form-control" %> 
				<%= f.telephone_field :mobile, label: 'Mobile Number', placeholder: "Optional"%> 
				<%= f.telephone_field :telephone, label: 'Telephone Number', placeholder: "Optional"%> 
				<%= f.text_field :home_province, label: 'Home Province', :required => 'required'%> 
				<%= f.text_field :current_campus, label: 'Current Campus'%> 
				<%= f.text_field :future_campus, label: 'Future Campus'%> <br>

				<%= f.password_field :password, label: 'Password' , :required => 'required'%> 
				<%= f.password_field :password_confirmation, label: 'Confirm Password', :required => 'required' %> <br>


				<div style="margin-top: 15px">
					<%= f.submit "Create Account", class: 'btn btn-outline' %><br>
					<%= link_to root_path, class: 'btn btn-outline-warning' do %>
	              		Cancel
	            	<% end %>
				</div>

				<% end %>
				
				
	
		</div>
	</div>
</div>


<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://cdn.rawgit.com/HubSpot/tether/v1.3.4/dist/js/tether.min.js"></script>
<script src="https://cdn.rawgit.com/FezVrasta/bootstrap-material-design/dist/dist/bootstrap-material-design.iife.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>
<script>
  $('body').bootstrapMaterialDesign();
</script>
			