<div class="container" style="margin-top: 100px; margin-bottom: 300px">
	<h3> On Campus Residence Halls </h3>

	<p style="margin-bottom: 50px"> 
		The Standard Criteria are applied by assessors to determine the overall quality, condition and <br> standard of the features and services onered.  Here, the question that needs to be answered is where the <br>facility is in an acceptable condition, good condition, a very good condition, an excellent condition or <br> an outstanding condition.  The scoring of 1points to 6 points is only completed once the Basic Requirements <br> have been completed to determine the status.
	</p>
	
	<div class="row">
		<div class="col-lg-3">
			<button id="exterior-btn" class="btn btn-outline btn-block" style="text-align: left">
				<strong> A: Exterior </strong> 
			</button>

			<button id="student-rooms-btn" class="btn btn-outline btn-block" style="text-align: left"> 
				<strong> B: Student Rooms </strong> 
			</button>

			<button id="ablution-btn" class="btn btn-outline btn-block" style="text-align: left">
				<strong> C: Ablution Facilities </strong>
			</button>

			<button id="kitchens-btn" class="btn btn-outline btn-block" style="text-align: left">
				<strong> D: Kitchens </strong> 
			</button>

			<button id="food-beverage-btn" class="btn btn-outline btn-block" style="text-align: left"> 
				<strong> E: Food and Beverage </strong> 
			</button>

			<button id="services-btn" class="btn btn-outline btn-block" style="text-align: left">
				<strong> F: General Services</strong>
			</button>
		</div>

		<div class="col-lg-6">
			<!-- EXTERIOR -->
			<div id="exterior" style="display: none; padding-right: 20px; padding-bottom: 20px; border-bottom: 1px solid grey">
				<h4 style="display: inline-block; margin-right: 10px; "> 
					Exterior 
				</h4>
				<span class="glyphicon glyphicon-tree-deciduous"></span>
				<hr>
				<%= link_to on_building_exterior_path do %> <h6> Building Exterior </h6> <% end %>
				<hr>
				<%= link_to on_grounds_gardens_path do %> <h6> Grounds and Gardens </h6> <% end %>
				<hr>
				<%= link_to on_parking_driveway_signage_path do %> <h6> Parking, Driveway and Signage </h6> <% end %>
				<hr>
				<%= link_to on_safety_security_path do %> <h6> Safety and Security </h6> <% end %>
			</div>
			
			<!-- STUDENT ROOMS -->
			<div id="student-rooms" style="display: none; padding-right: 20px; padding-bottom: 20px; border-bottom: 1px solid grey; margin-bottom: 100px">
				<h4 style="display: inline-block; margin-right: 10px"> 
					Student Rooms 
				</h4>
				<span class="glyphicon glyphicon-education"></span>
				<hr>
				<%= link_to on_building_exterior_path do %> 
					<h6> Student Room, Entrance, Safety and Security </h6> 
				<% end %>
				<hr>
				<%= link_to on_building_exterior_path do %> 
					<h6>Beds, Bases and Mattresses  </h6> 
				<% end %>
				<hr>
				<%= link_to on_building_exterior_path do %> 
					<h6> Furniture and fittings inside student room </h6> 
				<% end %>
				<hr>
				<%= link_to on_building_exterior_path do %> 
					<h6> Additional Furniture and fittings inside Common Rooms </h6> 
				<% end %>
				<hr>
				<%= link_to on_building_exterior_path do %> 
					<h6> Wardrobes, Shelves and Storage </h6> 
				<% end %>
				<hr>
				<%= link_to on_building_exterior_path do %> 
					<h6> Curtains and Window Coverings </h6> 
				<% end %>
				<hr>
				<%= link_to on_building_exterior_path do %> 
					<h6> Walls, Flooring and Ceiling </h6> 
				<% end %>
				<hr>
				<%= link_to on_building_exterior_path do %> 
					<h6> Temperature Control and Ventilation </h6> 
				<% end %>
				<hr>
				<%= link_to on_building_exterior_path do %> 
					<h6> Lighting, Power and Switches </h6> 
				<% end %>
				<hr>
				<%= link_to on_building_exterior_path do %> 
					<h6> Electronic Appliances </h6> 
				<% end %>
				<hr>
				<%= link_to on_building_exterior_path do %> 
					<h6> Spaciousness and Overall Impression </h6> 
				<% end %>
			</div>
			
			<!-- ABLUTION -->
			<div id="ablution" style="display: none; padding-right: 20px; padding-bottom: 20px; border-bottom: 1px solid grey">
				<h4 style="display: inline-block; margin-right: 10px"> 
					Ablution Facilities 
				</h4>
				<span class="glyphicon glyphicon-home"></span>
				<hr>
				<%= link_to on_building_exterior_path do %> 
					<h6> Flooring and Ceiling </h6> 
				<% end %>
				<hr>
				<%= link_to on_building_exterior_path do %> 
					<h6> Lighting and Ventilation </h6> 
				<% end %>
				<hr>
				<%= link_to on_building_exterior_path do %> 
					<h6> Fixtures and Fittings </h6> 
				<% end %>
			</div>
			
			<!-- KITCHENS -->
			<div id="kitchens" style="display: none; padding-right: 20px; padding-bottom: 20px; border-bottom: 1px solid grey">
				<h4 style="display: inline-block; margin-right: 10px"> 
					Kitchens 
				</h4>
				<span class="glyphicon glyphicon-th-large"></span>
				<hr>
				<%= link_to on_building_exterior_path do %> 
					<h6> Type of Kitchen </h6> 
				<% end %>
				<hr>
				<%= link_to on_building_exterior_path do %> 
					<h6> Safety and Security </h6> 
				<% end %>
				<hr>
				<%= link_to on_building_exterior_path do %> 
					<h6> Flooring, Walling and Ceiling </h6> 
				<% end %>
					<hr>
				<%= link_to on_building_exterior_path do %> 
					<h6> Lighting </h6> 
				<% end %>
				<hr>
				<%= link_to on_building_exterior_path do %> 
					<h6> Furnishings and Fittings </h6> 
				<% end %>
				<hr>
				<%= link_to on_building_exterior_path do %> 
					<h6> Electrical Equipment </h6> 
				<% end %>
					<hr>
				<%= link_to on_building_exterior_path do %> 
					<h6> Cleaning Equipment </h6> 
				<% end %>
				<hr>
				<%= link_to on_building_exterior_path do %> 
					<h6> In Room Dining Table/Area </h6> 
				<% end %>
			</div>
			
			<!-- FOOD & BEVERAGE -->
			<div id="food-beverage" style="display: none; padding-right: 20px; padding-bottom: 20px; border-bottom: 1px solid grey">
				<h4 style="display: inline-block; margin-right: 10px"> 
					Food and Beverage 
				</h4>
				<span class="glyphicon glyphicon-cutlery"></span>
				<hr>
				<%= link_to on_building_exterior_path do %> 
					<h6> Meal provision </h6> 
				<% end %>
				<hr>
				<%= link_to on_building_exterior_path do %> 
					<h6> Furnishings </h6> 
				<% end %>
				<hr>
				<%= link_to on_building_exterior_path do %> 
					<h6> Flooring, Ceiling, Skirting and Cornices </h6> 
				<% end %>
				<hr>
				<%= link_to on_building_exterior_path do %> 
					<h6> Lighting </h6> 
				<% end %>
				<hr>
				<%= link_to on_building_exterior_path do %> 
					<h6> Menu Presentation </h6> 
				<% end %>
				<hr>
				<%= link_to on_building_exterior_path do %> 
					<h6> Breakfast/Dinner/Lunch Quality and Presentation (if provided) </h6> 
				<% end %>
			</div>

			<!-- GENERAL SERVICES AND SERVICES -->
			<div id="services" style="display: none; padding-right: 20px; padding-bottom: 20px; border-bottom: 1px solid grey">
				<h4 style="display: inline-block; margin-right: 10px"> 
					General Services 
				</h4>
				<span class="glyphicon glyphicon-wrench"></span>
				<hr>
				<%= link_to on_building_exterior_path do %> 
					<h6> Reception/Lobby </h6> 
				<% end %>
				<hr>
				<%= link_to on_building_exterior_path do %> 
					<h6> Laundry Room </h6> 
				<% end %>
				<hr>
				<%= link_to on_building_exterior_path do %> 
					<h6> Communications and Business Facilities </h6> 
				<% end %>
					<hr>
				<%= link_to on_building_exterior_path do %> 
					<h6> Box Room </h6> 
				<% end %>
				<hr>
				<%= link_to on_building_exterior_path do %> 
					<h6> Warden/Residence Manager's Flat </h6> 
				<% end %>
				<hr>
				<%= link_to on_building_exterior_path do %> 
					<h6> Warden/Residence Manager's onice </h6> 
				<% end %>
			</div>
		</div>

			

</div>

<script type="text/javascript">
	$(document).ready(function(){
	
		$('#exterior-btn').hover(function(){
	    	$('#exterior').show('slow');
	    	$("#student-rooms").hide('slow');
	    	$("#ablution").hide('slow');
	    	$("#kitchens").hide('slow');
	    	$("#food-beverage").hide('slow');
	    	$("#services").hide('slow');
		});
		$("#student-rooms-btn").hover(function(){
		    $("#student-rooms").show('slow');
		    $('#exterior').hide('slow');
		    $("#ablution").hide('slow');
		    $("#kitchens").hide('slow');
	    	$("#food-beverage").hide('slow');
	    	$("#services").hide('slow');
		});
		$("#ablution-btn").hover(function(){
		    $("#ablution").show('slow');
		    $("#student-rooms").hide('slow');
		    $('#exterior').hide('slow');
		    $("#kitchens").hide('slow');
	    	$("#food-beverage").hide('slow');
	    	$("#services").hide('slow');
		});
		$("#kitchens-btn").hover(function(){
		    $("#kitchens").show('slow');
		    $("#student-rooms").hide('slow');
		    $('#exterior').hide('slow');
		    $("#ablution").hide('slow');
		    $("#food-beverage").hide('slow');
		    $("#services").hide('slow');
		});
		$("#food-beverage-btn").hover(function(){
		    $("#food-beverage").show('slow');
		    $("#student-rooms").hide('slow');
		    $('#exterior').hide('slow');
	       	$("#ablution").hide('slow');
		    $("#services").hide('slow');
		    $("#kitchens").hide('slow');
		});
		$("#services-btn").hover(function(){
		    $("#services").show('slow');
		    $("#student-rooms").hide('slow');
		    $('#exterior').hide('slow');
		    $("#food-beverage").hide('slow');
		    $("#kitchens").hide('slow');
		    $("#ablution").hide('slow');
		});
	});
</script>